@media (max-width: 767px) {
  .header {
    margin-bottom: 68px;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    
  }
  .header-nav {
    margin-bottom: 34px;
  }
  .header-nav-menu {
    font-size: 14px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px 0 100px;
    
    
  }
  .partner-list {
    display: flex;
    margin: 0 auto;
    /* padding: 0 42px; */
    flex-direction: column;
    align-items: center;
  }

}

@media (min-width: 767px) {
  .container {
      min-width: 767px;
      /* margin: 0 auto; */
  }
    .header {
      background: url(../img/tablet-banner.jpg) no-repeat center;
      background-size: cover;
      height: 700px;
    }

    .header-nav {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 156px;
      /* padding: 0 30px; */
      }

      .header-nav-menu {
        display: flex;
        justify-content: flex-end;
        /* width: 152px; */
      }
      .header-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
      }

      .header-text-title {
        font-size: 52px;
        line-height: 62px;
        text-align: center;
        font-family: Montserrat;
        font-weight: 700;
      }
      .header-text-subtitle {
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        font-family: roboto;
        font-weight: 300;
      }
      .header-content-box {
        padding-bottom: 36px;
      }
      .partner {
        text-align: center;
        
      }
      .partner-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        /* align-items: center; */
        justify-content: space-between;
        width: 490px;
        margin: 0 auto;
        
      }
      
      .icon-botle {
        order: 3;
      }
      .icon-cup {
        order: 2;
      }
      .icon-air-plane {
        order: 4;
      }
    
}

  @media (min-width: 940px) {
    .container {
      min-width: 940px;
    }

    .header {
      background: url(../img/full-banner.png) no-repeat center;
      background-size: cover;
      min-height: 700px;
    }
 
    .header-nav {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      
    }
  .header-nav-menu {
    display: flex;
  }
    
    .partner-list {
      justify-content: space-between;
      width: 940px;
      margin: 0 auto;
  }
}